<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omborxona tarixi</title>
    <link rel="stylesheet" href="/static/itm/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/itm/css/styles.css">
    <link rel="stylesheet" href="/static/itm/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/itm/font-awesome/css/font-awesome.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="close">Omborxonada kirim tarixi</h1>
            <div class="btn-group md-3">
                <form action="{%url 'balance'%}">
                    <button type="submit" class="btn btn-primary mb-3">Omborxonada mavjud mahsulotlar</button>
                </form>
                <form action="{%url 'inproduct'%}">
                    <button type="submit" class="btn btn-success mb-3">Mahsulot kirim qilish</button>
                </form>
                <form action="{%url 'kickproduct'%}">
                    <button type="submit" class="btn btn-danger mb-3"><a>Mahsulot chiqim qilish</a></button>
                </form>
                <form action="{%url 'outhistory'%}">
                    <button type="submit" class="btn btn-warning mb-3">Omborxona chiqim tarixi</button>
                </form>
            </div>
            <form>
                <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><span style="padding:5px"><i
                                class="fa fa-search"></i></span></span>
                    <input name="search" value="{{ search }}" class="form-control"
                           placeholder="Mahsulot nomini kiriting..." id="bool">
                    <span class="clear" onclick="myfunc()"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">T/R</th>
                    <th scope="col">Mahsulot nomi</th>
                    <th scope="col">Miqdori</th>
                    <th scope="col">Birligi</th>
                    <th scope="col">Kirim yuk xati raqami</th>
                    <th scope="col">Qabul qilgan</th>
                    <th scope="col">Sotib olib kelgan</th>
                    <th scope="col">Vaqti</th>
                </tr>
                </thead>
                <tbody>
                {% for prod in page %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{prod.name}}</td>
                    <td>{{prod.count}}</td>
                    <td>{{prod.unit}}</td>
                    <td>{{prod.inload_number}}</td>
                    <td>{{prod.instorageperson}}</td>
                    <td>{{prod.takeinstorageperson}}</td>
                    <td>{{prod.in_date}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {%if page.has_other_pages%}
            {%if page.has_previous%}
            <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
            {%endif%}
            {% for i in all %}
            {%if i.number != page.number%}
            <li class="page-item"><a class="page-link" href="?page={{i.number}}">{{i.number}}</a></li>
            {%endif%}
            {%if i.number == page.number%}
            <li class="page-item active"><a class="page-link">{{i.number}}</a></li>
            {%endif%}
            {%endfor%}
            {%if page.has_next%}
            <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next</a></li>
            {%endif%}
            {%endif%}

        </ul>
    </nav>
</div>
<script src="/static/itm/js/javascript.js"></script>
</body>
</html>